<div class="mat-elevation-z8">
  <div *ngIf="isDataLoaded">
    <table mat-table [dataSource]="livrable">
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom</th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>

      <ng-container matColumnDef="dateprevu">
        <th mat-header-cell *matHeaderCellDef> Date de Début</th>
        <td mat-cell *matCellDef="let element"> {{element.dateprevu | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="datefin">
        <th mat-header-cell *matHeaderCellDef> Date de Fin</th>
        <td mat-cell *matCellDef="let element"> {{element.datefin | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Créé Le</th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef> Modifié Le</th>
        <td mat-cell *matCellDef="let element"> {{element.updatedAt | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef> Statut</th>
        <td mat-cell *matCellDef="let element"> {{element.Statut ? element.Statut.nom : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="projet">
        <th mat-header-cell *matHeaderCellDef> Projet</th>
        <td mat-cell *matCellDef="let element"> {{element.Projet ? element.Projet.nom : ''}} </td>
      </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="[ '/livrables', element.id ]">
            <mat-icon aria-label="Detail" matTooltip="Detail" matTooltipPosition="after">view_module</mat-icon>
            <span>Détail</span>
          </button>
          <button mat-menu-item (click)="openDialog(element)">
            <mat-icon aria-label="Édition" matTooltip="Édition" matTooltipPosition="after">edit</mat-icon>
            <span>Éditer</span>
          </button>
          <button mat-menu-item (click)="deleteProjet(element.id)">
            <mat-icon aria-label="Supression" matTooltip="Supression" matTooltipPosition="after">delete</mat-icon>
            <span>Supprimer</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="paginator">
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      <button (click)="openDialog(null)" mat-mini-fab color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="!isDataLoaded" class="loader">
    <mat-spinner></mat-spinner>
  </div>
</div>
