.table-full-width {
  width: 100%;
}

.portefeuille-block-container {
  padding: 24px 12px;
}

.paginator {
  background-color: white;
  width: 100%;
  text-align: end;
}

.paginator > *:first-child{
  width: 90%;
  display: inline-block;
}

.paginator > *:last-child{
  display: inline-block;
  margin-right: 5px;
}

.title-container {
  background-color: white;
}

h1 {
  margin: 0px;
}

.spacerIcon {
  padding: 0 14px;
}

.spacerTitle {
  margin-top: 20px !important;
}
