table{
  width: 100%;
}

.paginator{
  width: 100%;
  text-align: end;
  background-color: white;
}

.paginator > *:first-child{
  width: 90%;
  display: inline-block;
}

.paginator > *:last-child{
  display: inline-block;
  margin-right: 5px;
}
