
.main-page{
  display: flex;
  height: calc(100vh - 64px);
  .menu-link{
    display: block;
    padding: 5px;
  }
  @media (max-width: 599px){
    .left-menu{
      display: none;
    }
    .wrapper-app {
      width: 100%;
      padding: 5%;
    }
  }
  @media (min-width: 600px){
    .left-menu{
      width: 25%;
      padding: 10px;
      background-color: white;
    }
    .wrapper-app {
      width: 100%;
      padding: 5%;
    }
  }
}

.chat-container{
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  border-top-left-radius: 5px;
  padding: 10px;
  width: 400px;
  .caret-button{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 3px;
    background-color: white;
  }
}
