/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~@angular/material/theming';
@import '~dragula/dist/dragula.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

$custom-typography: mat-typography-config( $font-family: 'Exo' );
@include mat-core($custom-typography);

body {
  box-sizing: border-box;
  background-color: #f4f3f3;
  margin: 0;

  app-root * {
    font-family: 'Exo', sans-serif;
  }
}

.loader {
  padding: 5vh;
  text-align: center;

  mat-spinner {
    display: inline-block;
  }
}
