<h2 mat-dialog-title>Créer projet</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="projetForm" (submit)="saveDataProjet()">
    <mat-form-field>
      <input formControlName="nom" id="nom" matInput placeholder="Nom" required>
      <mat-error *ngIf="!projetForm.controls.nom.valid">Le nom est requis</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Statut : </mat-label>
      <mat-select formControlName="statutId" id="statutId">
        <mat-option *ngFor="let statut of statuts" [value]="statut.id">
          {{statut.nom}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!projetForm.controls.statutId.valid">Le statut est requis</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Portefeuille : </mat-label>
      <mat-select formControlName="portefeuilleId" id="portefeuilleId">
        <mat-option *ngFor="let portefeuille of portefeuilles" [value]="portefeuille.id">
          {{ portefeuille.nom }}
        </mat-option>
      </mat-select>

    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button (click)="saveDataProjet()">Envoyer</button>
</mat-dialog-actions>

